
  <div class="message">
    <%= f.error_notification %>
  </div>
  <div class="message">
    <%= f.input :email %>
  </div>

  <div class="message form-actions">
    <p>
      <%= f.button :submit %>
    </p>
  </div>
