<h4 class="lobster">What's New</h4>
<!-- Carousel items -->
<div class="carousel-inner">

  <div class="active item">
    <%= image_tag "slide01.jpg", alt: 'slider' %>
    <div class="carousel-caption">
      <h4>Toko Umbrella | Payung Cantik</h4>
      <p>Harga Rp. 20.000,- <a href="#">Selengkapnya..</a></p>
    </div>
  </div>

  <div class="item">
    <%= image_tag "slide02.jpg", alt: 'slider' %>
    <div class="carousel-caption">
      <h4>Toko Hijab | Hijab Cantik</h4>
      <p>Harga Rp. 120.000,- <a href="#">Selengkapnya..</a></p>
    </div>
  </div>

  <div class="item">
    <%= image_tag "slide03.jpg", alt: 'slider' %>
    <div class="carousel-caption">
      <h4>Toko Jilbab | Jilbab Anggun</h4>
      <p>Harga Rp. 70.000,- <a href="#">Selengkapnya..</a></p>
    </div>
  </div>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>