<h4 class="lobster">What's New</h4>
<!-- Carousel items -->
<div class="carousel-inner">

  <% @advertise.each do |adv| %>

    <div class="item">
      <%= image_tag adv.image, alt: 'slider' %>
      <div class="carousel-caption">
        <h4><%= adv.title %></h4>
        <p><%= adv.description %> <a href="#">Selengkapnya..</a></p>
      </div>
    </div>

  <% end %>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>