
  <div class="row">

    <div class="span6 contact-form">

    <form action="/contact" class="contact-field" method="POST">
      <fieldset>
        <legend>Contact Form</legend>
        
        <label>Name*</label>
        <input class="input-xlarge" type="text" placeholder="Your Name…" name="contact[name]">

        <label>Email Address*</label>
        <input class="input-xlarge" type="text" placeholder="Your Email" name="contact[email]">

        <label>Subject*</label>
        <input class="input-xlarge" type="text" placeholder="Your Subject" name="contact[subject]">

        <label>Message*</label>
        <textarea class="input-xlarge" rows="5" name="contact[message]"></textarea>
        
        <p><button type="submit" class="btn btn-warning">Submit Message</button></p>
      </fieldset>
    </form>

  </div> <!-- end contact-form -->

    </div>
