<div class="row">

  <div class="span10 page-content">

  	<% if @page.static? %>

  		<%= render @page.template %>

  	<% else %>

	    <h3><%= @page.name %></h3>
	    <%= @page.content %>

	  <% end %>	

  </div>

</div><!-- end row -->