
<%= render_crumbs format: :html_list, :ul_class => 'breadcrumb' %>

<!-- <ul class="breadcrumb">
  <li class="active">
  	Home
  	<span class="divider">/</span>
  </li>
  <% if controller_name != 'home' %>
  	<li>
  		<a href="#"><%= controller_name %></a>
  		<span class="divider">/</span>
  	</li>
  <% end %>
</ul> -->
 <!-- breadcrumb -->