
<div class="row">

  <div class="span6 news-letter">

    <div class="row">

      <div class="span2 desc">
        <p>Ikuti Koleksi Barang Terbaru Di <span>TOKO FAVORITE ANDA</span></p>
      </div>

      <div class="span3 register">

        <i>*Daftarkan email anda disini</i>
        <div class="input-append">
          <form action="/subscribe" method="post" id="FormSubscriptions">
            <input class="span3" type="text" name="email" placeholder="Masukan email anda disini..">
            <button class="btn top-input" type="button" onclick="document.forms.FormSubscriptions.submit()">DAFTAR</button>
          </form>
        </div>

      </div>

    </div>

  </div> <!-- end news-letter -->

  <div class="span6 adv-search">

    <div class="row">

      <div class="span2">
        <p>SEARCH</p>
      </div>

      <div class="span3 register">

        <i>*Ketik disini untuk pencarian khusus</i>
        <div class="input-append">
          <%= form_for @search, :url => { :controller => "stores", :action => "index" }, :method => 'get', :html => { :id => "FormSearchStore", :name => "FormSearchStore" } do |f| %>
            <%= f.text_field :keywords, :class => 'span3', :placeholder => 'Ketik kata pencarian anda disini..' %>
            <button class="btn top-input" type="button" onclick="document.forms.FormSearchStore.submit()">SEARCH</button>
          <% end %>
        </div>

      </div>

    </div>

  </div> <!-- end adv-search -->

</div>
