<div id="slider" class="carousel slide span8">
	<%= render 'layouts/carousel' %>
</div><!-- end carousel -->

<aside class="span4">
  <div class="row">
    <h4 class="span4 lobster">Advertise</h4>
    <% if @banner_top != nil %>
      <div class="span4 adv-banner">
        <a href="#">
          <%= image_tag @banner_top.image, alt: 'discount' %>
        </a>
      </div><!-- end banner -->
    <% end %>

    <% if @banner_topleft != nil %>
      <div class="span2 adv-banner">
        <a href="#">
          <%= image_tag @banner_topleft.image, alt: 'discount' %>
        </a>
      </div><!-- end banner -->
    <% end %>

    <% if @banner_topright != nil %>
      <div class="span2 adv-banner">
        <a href="#">
          <%= image_tag @banner_topright.image, alt: 'discount' %>
        </a>
      </div><!-- end banner -->
    <% end %>
    
  </div>
</aside> <!-- end of content advertise wrapper -->