<div id="slider" class="carousel slide span8">
	<%= render 'layouts/carousel' %>
</div><!-- end carousel -->

<aside class="span4">
  <div class="row">
    <h4 class="span4 lobster">Advertise</h4>
    <div class="span4 adv-banner">
    	<a href="#">
        <%= image_tag "promomed01.jpg", alt: 'discount' %>
      </a>
    </div><!-- end banner -->
    <div class="span2 adv-banner">
    	<a href="#">
        <%= image_tag "promosmall01.jpg", alt: 'discount' %>
      </a>
    </div>
    <div class="span2 adv-banner">
      <a href="#">
        <%= image_tag "promosmall02.jpg", alt: 'discount' %>
      </a>
    </div>
  </div>
</aside> <!-- end of content advertise wrapper -->