
<div class="row">

  <div class="span6 news-letter">

    <div class="row">

      <div class="span2 desc">
        <p>Ikuti Koleksi Barang Terbaru Di <span>TOKO FAVORITE ANDA</span></p>
      </div>

      <div class="span3 register">

        <i>*Daftarkan email anda disini</i>
        <div class="input-append">
          <input class="span3" type="text" placeholder="Masukan email anda disini..">
          <button class="btn top-input" type="button">DAFTAR</button>
        </div>

      </div>

    </div>

  </div> <!-- end news-letter -->

  <div class="span6 adv-search">

    <div class="row">

      <div class="span2">
        <p>SEARCH</p>
      </div>

      <div class="span3 register">

        <i>*Ketik disini untuk pencarian khusus</i>
        <div class="input-append">
          <input class="span3" type="text" placeholder="Ketik kata pencarian anda disini..">
          <button class="btn top-input" type="button">SEARCH</button>
        </div>

      </div>

    </div>

  </div> <!-- end adv-search -->

</div>
