<section class="info row">

  <h1 class="span3 logo bottom">
    <a href="#">
      <%= image_tag "logo-footer.png", alt: 'logo footer', class: '' %>
    </a>
  </h1> <!-- end logo bottom-->

  <div class="span3 column">
    <h6>Help & Support</h6>
    <ul class="nav">
      <li><a href="#">Aturan Main</a></li>
      <li><a href="#">Contact Support</a></li>
      <li><a href="#">Tentang AyoGrosir</a></li>
    </ul>
  </div><!-- end column -->

  <div class="span3 column">
    <h6>Find Us At</h6>
    <ul class="nav">
      <li><strong>Twitter.</strong>&nbsp;<a href="#">@AyoGrosir</a></li>
      <li><strong>FB.</strong>&nbsp;<a href="#">facebook.com/AyoGrosir</a></li>
      <li><strong>email.</strong>&nbsp;<a href="#">support@ayogrosir.com</a></li>
    </ul>
  </div><!-- end column -->

  <div class="span3 column">
    <h6>Hubungi Kami</h6>
    <ul class="nav">
      <li><strong>Alamat</strong></li>
      <li>Wisma Grosir</li>
      <li>Jl. Raya Pasar Senen No. 24</li>
      <li>Pasar Senen</li>
      <li>Jakarta Pusat</li>
      <li>&nbsp;</li>
      <li><strong>Phone.</strong>&nbsp;021-8435719</li>
    </ul>
  </div><!-- end column -->

</section><!-- end info -->

<div class="center">
  <p>2013&nbsp;&copy;&nbsp;Copyright <a href="#">AyoGrosir.com</a>. All Rights Reserved.</p>
</div>