<% [:error, :alert, :success, :info].each do |type| %>
  <% unless flash[type].blank? %>
    <div class="alert alert-<%= type %>">
        <a class="close" data-dismiss="alert">×</a>
        <p><%= content_tag :div, flash[type], :id => "flash_#{type}" %></p>
    </div>
  <% end %>
<% end %>
