<nav class="top-nav span12">

  <ul class="nav nav-pills">
    <li class="active">
      <%= link_to 'Beranda', root_path %>
    </li>
    <li>
      <%= link_to 'Cari Toko', stores_path %>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Kategori Toko<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Drop Down</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="page.html">Informasi</a>
    </li>
    <li>
      <a href="profile-page.html">Cara Berbelanja</a>
    </li>
    <li>
      <a href="contact-page.html">Hubungi Kami</a>
    </li>
  </ul>

</nav> <!-- end top-nav -->
