<div class="sidebar-content">

  <div class="sidebar noline">
    <h5>Toko Favorit</h5>
    <ul>
      <li><a href="profile-page.html">Toko Pasar Senen</a></li>
      <li><a href="profile-page.html">Toko Sinar Makmur</a></li>
      <li><a href="profile-page.html">Toko Jaya Abadi</a></li>
      <li><a href="profile-page.html">Toko Besi Indah</a></li>
    </ul>
  </div><!-- end sidebar -->

  <div class="sidebar noline">
    <h5>Toko Terupdate</h5>
    <ul>
      <li><a href="profile-page.html">Toko Pasar Senen</a></li>
      <li><a href="profile-page.html">Toko Sinar Makmur</a></li>
      <li><a href="profile-page.html">Toko Jaya Abadi</a></li>
      <li><a href="profile-page.html">Toko Besi Indah</a></li>
    </ul>
  </div><!-- end sidebar -->

  <div class="sidebar noline">
    <h5>Toko Terbaru</h5>
    <ul>
      <li><a href="profile-page.html">Toko Pasar Senen</a></li>
      <li><a href="profile-page.html">Toko Sinar Makmur</a></li>
      <li><a href="profile-page.html">Toko Jaya Abadi</a></li>
    </ul>
  </div><!-- end sidebar -->

</div><!-- end sidebar-content -->