<div class="sidebar-content">

  <div class="sidebar noline">
    <h5>Toko Favorit</h5>
    <ul>
      <!-- Popular Stores -->
      <% @popular_stores.each do |store| %>
        <li><%= link_to store.name, store %></li>
      <% end %>
    </ul>
  </div><!-- end sidebar -->

  <div class="sidebar noline">
    <h5>Toko Terupdate</h5>
    <ul>
      <!-- Latest Stores -->
      <% @latest_stores.each do |store| %>
        <li><%= link_to store.name, store %></li>
      <% end %>
    </ul>
  </div><!-- end sidebar -->

  <div class="sidebar noline">
    <h5>Toko Terbaru</h5>
    <ul>
      <!-- Newest Stores -->
      <% @newest_stores.each do |store| %>
        <li><%= link_to store.name, store %></li>
      <% end %>
    </ul>
  </div><!-- end sidebar -->

</div><!-- end sidebar-content -->