<div class="center top-loc-wrapper pull-left">
  <h4 class="loc-label">LOKASI</h4>
  <div class="btn-group">
    
    <button class="btn btn-large btn-success">PASAR SENIN</button>
    <button class="btn btn-large btn-success dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">PASAR JATI NEGARA</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">PASAR MINGGU</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">PASAR REBO</a></li>
    </ul>

  </div>
</div>